/*  your css code here. If applicable */
main{
	background-color:orange;
	width:40%;
	padding:15px;
	box-shadow:5px 5px 10px rgba(0, 0, 0, 0.5);
	font-family:italic;
	display:flex;
	flex-direction:column;
	align-items:center;
}

button{
	padding:10px;
	background-color:yellow;
	coloe:white;
	border-radius:10px
}